<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/articles">Back</a>
    <h1>Title: <%= article.title %> </h1>
    <h2>Description: <%= article.description %></h2>
    <% article.tags.forEach(t => { %>
        <span><%= t %></span>
    <% }) %>
    <h4>Author: <%= article.author %></h4>
    <h5>Likes: <%= article.likes ? article.likes : 0 %></h5>
    <a href="/articles/<%= article.id %>/edit">Edit Articles</a>
    <a href="/articles/<%= article.id %>/delete">Delete Articles</a>
    <a href="/articles/<%= article.id %>/like" class="btn1">Like</a>
</body>
</html>