<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/articles/<%= article.id %>">Go to Article Details Page</a>
    
    <form action="/articles/<%= article.id %>" method="POST">
        <input type="text" name="title" placeholder="Enter the title" value="<%= article.title %>">
        <input type="text" name="description" placeholder="Enter the description" value="<%= article.description %>">
        <input type="text" name="tags" placeholder="Enter the tags" value="<%= article.tags %>">
        <input type="text" name="author" placeholder="Enter the author name" value="<%= article.author %>">
        <input type="number" name="likes" placeholder="Enter the likes" value="<%= article.likes %>">
        <input type="submit" value="Update User">
    </form>
</body>
</html>